* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.pagecolor{
	background-color: #008000;
  }

.drpbutton{
	background-color: #ffd700;
	color : #981518;
	padding: 16px;
  	font-size: 16px;
  	border: none;
  	cursor: pointer;
}

.dropdown{
  margin-top: 75px;
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdowncontent{
  display: none;
}
